<a href="#" id="nav-button">
  <span>
    NAV
    <img src="" alt="" />
  </span>
</a>
<div class="toc-wrapper">
  <img src="" class="logo" alt="" />
    <div class="lang-selector">
          <a href="#" data-language-name="javascript">javascript</a>
    </div>
    <ul id="toc" class="toc-list-h1">
        <li>
          <a href="#introduction" class="toc-h1 toc-link" data-title="Introduction">Introducción</a>
        </li>
        <li>
          <a href="#authentication" class="toc-h1 toc-link" data-title="Authentication">Autenticación Token</a>
        </li>
        <li id="Asociados">
          <a href="#Asociados" class="toc-h1 toc-link" data-title="Asociados">Asociados</a>
          <ul>
            <li>
              <a href="#listUsers" class="toc-h2 toc-link" data-title="Listar Asociados">Listar Asociados</a>
            </li>
            <li>
              <a href="#miInfo" class="toc-h2 toc-link" data-title="Info Asociado Logueado">Info Asociado Logueado</a>
            </li>
            <li>
              <a href="#infoUser" class="toc-h2 toc-link" data-title="Información de un Asociado">Información de un Asociado</a>
            </li>
            <li>
              <a href="#printUser" class="toc-h2 toc-link" data-title="Obtener PDF de Asociado">Obtener PDF de Asociado</a>
            </li>
            <li>
              <a href="#statusUser" class="toc-h2 toc-link" data-title="Actualizar Estado">Actualizar Estado</a>
            </li>
            <li>
              <a href="#setPermissions" class="toc-h2 toc-link" data-title="Asignar Permisos">Asignar Permisos</a>
            </li>
            <li>
              <a href="#updateUser" class="toc-h2 toc-link" data-title="Actualizar Asociado">Actualizar Asociado</a>
            </li>
            <li>
              <a href="#createUser" class="toc-h2 toc-link" data-title="Crear Asociado">Crear Asociado</a>
            </li>
            <li>
              <a href="#cargarCSV" class="toc-h2 toc-link" data-title="Carga CSV">Carga CSV</a>
            </li>
            <li>
              <a href="#metricasAsociado" class="toc-h2 toc-link" data-title="Métricas Asociado">Métricas Asociado</a>
            </li>
          </ul>
        </li>
        <li id="Equipos">
          <a href="#Equipos" class="toc-h1 toc-link" data-title="Equipos">Equipos</a>
          <ul>
            <li>
              <a href="#listEquipos" class="toc-h2 toc-link" data-title="Listar Equipos">Listar Equipos</a>
            </li>
            <li>
              <a href="#infoEquipo" class="toc-h2 toc-link" data-title="Info Equipo">Info Equipo</a>
            </li>
            <li>
              <a href="#createEquipo" class="toc-h2 toc-link" data-title="Crear Equipo">Crear Equipo</a>
            </li>
            <li>
              <a href="#updateEquipo" class="toc-h2 toc-link" data-title="Actualizar Equipo">Actualizar Equipo</a>
            </li>
          </ul>
        </li>
        <li id="Organizaciones">
          <a href="#Organizaciones" class="toc-h1 toc-link" data-title="Organizaciones">Organizaciones</a>
          <ul>
            <li>
              <a href="#listUsers" class="toc-h2 toc-link" data-title="Listar Asociados">Listar Asociados</a>
            </li>
            <li>
              <a href="#miInfo" class="toc-h2 toc-link" data-title="Info Asociado Logueado">Info Asociado Logueado</a>
            </li>
            <li>
              <a href="#infoUser" class="toc-h2 toc-link" data-title="Información de un Asociado">Información de un Asociado</a>
            </li>
            <li>
              <a href="#printUser" class="toc-h2 toc-link" data-title="Obtener PDF de Asociado">Obtener PDF de Asociado</a>
            </li>
            <li>
              <a href="#statusUser" class="toc-h2 toc-link" data-title="Actualizar Estado">Actualizar Estado</a>
            </li>
            <li>
              <a href="#setPermissions" class="toc-h2 toc-link" data-title="Asignar Permisos">Asignar Permisos</a>
            </li>
            <li>
              <a href="#updateUser" class="toc-h2 toc-link" data-title="Actualizar Asociado">Actualizar Asociado</a>
            </li>
            <li>
              <a href="#createUser" class="toc-h2 toc-link" data-title="Crear Asociado">Crear Asociado</a>
            </li>
            <li>
              <a href="#cargarCSV" class="toc-h2 toc-link" data-title="Carga CSV">Carga CSV</a>
            </li>
            <li>
              <a href="#metricasAsociado" class="toc-h2 toc-link" data-title="Métricas Asociado">Métricas Asociado</a>
            </li>
          </ul>
        </li>
        <li id="Proyectos">
          <a href="#Proyectos" class="toc-h1 toc-link" data-title="Proyectos">Proyectos</a>
          <ul>
            <li>
              <a href="#listUsers" class="toc-h2 toc-link" data-title="Listar Asociados">Listar Asociados</a>
            </li>
            <li>
              <a href="#miInfo" class="toc-h2 toc-link" data-title="Info Asociado Logueado">Info Asociado Logueado</a>
            </li>
            <li>
              <a href="#infoUser" class="toc-h2 toc-link" data-title="Información de un Asociado">Información de un Asociado</a>
            </li>
            <li>
              <a href="#printUser" class="toc-h2 toc-link" data-title="Obtener PDF de Asociado">Obtener PDF de Asociado</a>
            </li>
            <li>
              <a href="#statusUser" class="toc-h2 toc-link" data-title="Actualizar Estado">Actualizar Estado</a>
            </li>
            <li>
              <a href="#setPermissions" class="toc-h2 toc-link" data-title="Asignar Permisos">Asignar Permisos</a>
            </li>
            <li>
              <a href="#updateUser" class="toc-h2 toc-link" data-title="Actualizar Asociado">Actualizar Asociado</a>
            </li>
            <li>
              <a href="#createUser" class="toc-h2 toc-link" data-title="Crear Asociado">Crear Asociado</a>
            </li>
            <li>
              <a href="#cargarCSV" class="toc-h2 toc-link" data-title="Carga CSV">Carga CSV</a>
            </li>
            <li>
              <a href="#metricasAsociado" class="toc-h2 toc-link" data-title="Métricas Asociado">Métricas Asociado</a>
            </li>
          </ul>
        </li>
        <li id="AsoProyectos">
          <a href="#AsoProyectos" class="toc-h1 toc-link" data-title="AsoProyectos">AsoProyectos</a>
          <ul>
            <li>
              <a href="#listUsers" class="toc-h2 toc-link" data-title="Listar Asociados">Listar Asociados</a>
            </li>
            <li>
              <a href="#miInfo" class="toc-h2 toc-link" data-title="Info Asociado Logueado">Info Asociado Logueado</a>
            </li>
            <li>
              <a href="#infoUser" class="toc-h2 toc-link" data-title="Información de un Asociado">Información de un Asociado</a>
            </li>
            <li>
              <a href="#printUser" class="toc-h2 toc-link" data-title="Obtener PDF de Asociado">Obtener PDF de Asociado</a>
            </li>
            <li>
              <a href="#statusUser" class="toc-h2 toc-link" data-title="Actualizar Estado">Actualizar Estado</a>
            </li>
            <li>
              <a href="#setPermissions" class="toc-h2 toc-link" data-title="Asignar Permisos">Asignar Permisos</a>
            </li>
            <li>
              <a href="#updateUser" class="toc-h2 toc-link" data-title="Actualizar Asociado">Actualizar Asociado</a>
            </li>
            <li>
              <a href="#createUser" class="toc-h2 toc-link" data-title="Crear Asociado">Crear Asociado</a>
            </li>
            <li>
              <a href="#cargarCSV" class="toc-h2 toc-link" data-title="Carga CSV">Carga CSV</a>
            </li>
            <li>
              <a href="#metricasAsociado" class="toc-h2 toc-link" data-title="Métricas Asociado">Métricas Asociado</a>
            </li>
          </ul>
        </li>
        <li id="Areas">
          <a href="#Areas" class="toc-h1 toc-link" data-title="Areas">Areas</a>
          <ul>
            <li>
              <a href="#listUsers" class="toc-h2 toc-link" data-title="Listar Asociados">Listar Asociados</a>
            </li>
            <li>
              <a href="#miInfo" class="toc-h2 toc-link" data-title="Info Asociado Logueado">Info Asociado Logueado</a>
            </li>
            <li>
              <a href="#infoUser" class="toc-h2 toc-link" data-title="Información de un Asociado">Información de un Asociado</a>
            </li>
            <li>
              <a href="#printUser" class="toc-h2 toc-link" data-title="Obtener PDF de Asociado">Obtener PDF de Asociado</a>
            </li>
            <li>
              <a href="#statusUser" class="toc-h2 toc-link" data-title="Actualizar Estado">Actualizar Estado</a>
            </li>
            <li>
              <a href="#setPermissions" class="toc-h2 toc-link" data-title="Asignar Permisos">Asignar Permisos</a>
            </li>
            <li>
              <a href="#updateUser" class="toc-h2 toc-link" data-title="Actualizar Asociado">Actualizar Asociado</a>
            </li>
            <li>
              <a href="#createUser" class="toc-h2 toc-link" data-title="Crear Asociado">Crear Asociado</a>
            </li>
            <li>
              <a href="#cargarCSV" class="toc-h2 toc-link" data-title="Carga CSV">Carga CSV</a>
            </li>
            <li>
              <a href="#metricasAsociado" class="toc-h2 toc-link" data-title="Métricas Asociado">Métricas Asociado</a>
            </li>
          </ul>
        </li>
        <li id="Points">
          <a href="#Points" class="toc-h1 toc-link" data-title="Points">Points</a>
          <ul>
            <li>
              <a href="#listUsers" class="toc-h2 toc-link" data-title="Listar Asociados">Listar Asociados</a>
            </li>
            <li>
              <a href="#miInfo" class="toc-h2 toc-link" data-title="Info Asociado Logueado">Info Asociado Logueado</a>
            </li>
            <li>
              <a href="#infoUser" class="toc-h2 toc-link" data-title="Información de un Asociado">Información de un Asociado</a>
            </li>
            <li>
              <a href="#printUser" class="toc-h2 toc-link" data-title="Obtener PDF de Asociado">Obtener PDF de Asociado</a>
            </li>
            <li>
              <a href="#statusUser" class="toc-h2 toc-link" data-title="Actualizar Estado">Actualizar Estado</a>
            </li>
            <li>
              <a href="#setPermissions" class="toc-h2 toc-link" data-title="Asignar Permisos">Asignar Permisos</a>
            </li>
            <li>
              <a href="#updateUser" class="toc-h2 toc-link" data-title="Actualizar Asociado">Actualizar Asociado</a>
            </li>
            <li>
              <a href="#createUser" class="toc-h2 toc-link" data-title="Crear Asociado">Crear Asociado</a>
            </li>
            <li>
              <a href="#cargarCSV" class="toc-h2 toc-link" data-title="Carga CSV">Carga CSV</a>
            </li>
            <li>
              <a href="#metricasAsociado" class="toc-h2 toc-link" data-title="Métricas Asociado">Métricas Asociado</a>
            </li>
          </ul>
        </li>
        <li id="paramGea">
          <a href="#paramGea" class="toc-h1 toc-link" data-title="Parámetros GEA">Parámetros GEA</a>
          <ul>
            <li>
              <a href="#listUsers" class="toc-h2 toc-link" data-title="Listar Asociados">Pensión</a>            
            </li>
            <li>
              <a href="#miInfo" class="toc-h2 toc-link" data-title="Info Asociado Logueado">Info Asociado Logueado</a>
            </li>
            <li>
              <a href="#infoUser" class="toc-h2 toc-link" data-title="Información de un Asociado">Información de un Asociado</a>
            </li>
            <li>
              <a href="#printUser" class="toc-h2 toc-link" data-title="Obtener PDF de Asociado">Obtener PDF de Asociado</a>
            </li>
            <li>
              <a href="#statusUser" class="toc-h2 toc-link" data-title="Actualizar Estado">Actualizar Estado</a>
            </li>
            <li>
              <a href="#setPermissions" class="toc-h2 toc-link" data-title="Asignar Permisos">Asignar Permisos</a>
            </li>
            <li>
              <a href="#updateUser" class="toc-h2 toc-link" data-title="Actualizar Asociado">Actualizar Asociado</a>
            </li>
            <li>
              <a href="#createUser" class="toc-h2 toc-link" data-title="Crear Asociado">Crear Asociado</a>
            </li>
            <li>
              <a href="#cargarCSV" class="toc-h2 toc-link" data-title="Carga CSV">Carga CSV</a>
            </li>
            <li>
              <a href="#metricasAsociado" class="toc-h2 toc-link" data-title="Métricas Asociado">Métricas Asociado</a>
            </li>
          </ul>
        </li>
        <li id="paramGit">
          <a href="#paramGit" class="toc-h1 toc-link" data-title="Parámetros GIT">Parámetros GIT</a>
          <ul>
            <li>
              <a href="#listUsers" class="toc-h2 toc-link" data-title="Listar Asociados">Listar Asociados</a>
            </li>
            <li>
              <a href="#miInfo" class="toc-h2 toc-link" data-title="Info Asociado Logueado">Info Asociado Logueado</a>
            </li>
            <li>
              <a href="#infoUser" class="toc-h2 toc-link" data-title="Información de un Asociado">Información de un Asociado</a>
            </li>
            <li>
              <a href="#printUser" class="toc-h2 toc-link" data-title="Obtener PDF de Asociado">Obtener PDF de Asociado</a>
            </li>
            <li>
              <a href="#statusUser" class="toc-h2 toc-link" data-title="Actualizar Estado">Actualizar Estado</a>
            </li>
            <li>
              <a href="#setPermissions" class="toc-h2 toc-link" data-title="Asignar Permisos">Asignar Permisos</a>
            </li>
            <li>
              <a href="#updateUser" class="toc-h2 toc-link" data-title="Actualizar Asociado">Actualizar Asociado</a>
            </li>
            <li>
              <a href="#createUser" class="toc-h2 toc-link" data-title="Crear Asociado">Crear Asociado</a>
            </li>
            <li>
              <a href="#cargarCSV" class="toc-h2 toc-link" data-title="Carga CSV">Carga CSV</a>
            </li>
            <li>
              <a href="#metricasAsociado" class="toc-h2 toc-link" data-title="Métricas Asociado">Métricas Asociado</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#errors" class="toc-h1 toc-link" data-title="Errors">Errors</a>
        </li>
    </ul>
</div>
<div class="page-wrapper">
  <div class="dark-box"></div>
  <div class="content">
    <h1 id='introduction'>Introduction</h1>
    <p>Bienvenido a ApoloDesk API! Puedes usar esta API para acceder a los recursos API endpoints.</p>

    <p>¡Tenemos enlace de idioma JavaScript! Puede ver ejemplos de código en el área oscura a la derecha.</p>

  <!-- init -->
    <h1 id='authentication'>Autenticación Token</h1>
    <blockquote>
      <p>Para generar el token de sesión, use este código:</p>
    </blockquote>
    <div class="highlight">
      <pre class="highlight javascript tab-javascript">
        <code>
          <span class="s1">
            {
                "user":{
                    "email":"victor.franco@sequal.com.co"
                }
            }
          </span>
        </code>
      </pre>
    </div>

    <blockquote>
    <p>The above command returns JSON structured like this:</p>
    </blockquote>
    <div class="highlight">
      <pre class="highlight json tab-json">
        <code>
          <span class="s1">
          {
              "status": 200,
              "message_es": "Operación realizada con éxito",
              "message_en": "Operation performed successfully",
              "result": {
                  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJWRiIsInVzZXJFbWFpbCI6InZpY3Rvci5mcmFuY29Ac2VxdWFsLmNvbS5jbyIsInByb2ZpbGUiOiJQQ0FMTUFOIiwiY3JlYXRlIjoxNjY5ODY4ODk4LCJleHBpcmUiOjE3MDE0MDQ4OTgsImRldmljZSI6ImRldmljZSIsImlhdCI6MTY2OTg2ODg5OH0.5Efiy58q6H4rfdF7GIdClw1qwh68_iYDC8Z_0M1oDws",
                  "user": {
                      "_id": "VF",
                      "activo": true,
                      "admin": true,
                      "apellidos": "FRANCO",
                      "email": "victor.franco@sequal.com.co",
                      "mac": "0A-00-27-00-00-0D",
                      "nombres": "VICTOR",
                      "pass": "",
                      "pass_mobile": "",
                      "perfil": "PCALMAN",
                      "revisor": false,
                      "superAdmin": true,
                      "permisos": {
                          "gea": "ADMIN",
                          "git": "ADMIN",
                          "point": "REVISOR",
                          "psp": "REVISOR",
                          "admin": true
                      },
                      "updatedAt": "2022-12-01T01:56:09.993Z",
                      "device": "device"
                  }
              }
          }
          </span>
        </code>
      </pre>
    </div>
    <p>Este endpoint permite obtener el token de autenticación del asociado</p>
    <h3 id='http-request'>HTTP Request</h3>
    <p><code>POST <spam class="ruta"></spam>/auth/get/token</code></p>  

    <blockquote><p>Asegúrese de reemplazar <code> token </code> con su clave API.</p></blockquote>

    <p><code>Authorization: token</code></p>

    <aside class="notice">
      Debe reemplazar <code> token </code> con su clave API de sesión.
    </aside>
  <!-- end -->

  <!-- init -->
    <h1 id='listUsers'>Listar Asociados</h1>
    <div class="highlight">
      <pre class="highlight javascript tab-javascript">
        <code>
          <span class="s1">
            const headers = { Authorization: `${token}` };
          </span>
        </code>
      </pre>
    </div>

    <blockquote>
    <p>The above command returns JSON structured like this:</p>
    </blockquote>
    <div class="highlight">
      <pre class="highlight json tab-json">
        <code>
          <span class="s1">
          {
              "status": 200,
              "message_es": "Operación realizada con éxito",
              "message_en": "Operation performed successfully",
              "result": [
                  {
                      "_id": "GP",
                      "activo": true,
                      "admin": true,
                      "apellidos": "PEREZ",
                      "email": "gloria.patricia.perez@sequal.com.co",
                      "mac": "5C-BA-EF-A0-6D-13",
                      "nombres": "GLORIA",
                      "pass": "jbnnXNtOqKw=",
                      "pass_mobile": "U2FsdGVkX1+17ojQkKR8fuhqNDPZYn3cHqTPla14/WA=",
                      "perfil": "PCALMAN",
                      "revisor": true,
                      "superAdmin": true
                  }]
            }
          </span>
        </code>
      </pre>
    </div>
    <p>Este endpoint permite listar los asociados registrados</p>
    <h3 id='http-request'>HTTP Request</h3>
    <p><code>GET <spam class="ruta"></spam>/usuarios/listar?app=gea</code></p>
  <!-- end -->

  <!-- init -->
    <h1 id='miInfo'>Info Asociado Logueado</h1>
    <div class="highlight">
      <pre class="highlight javascript tab-javascript">
        <code>
          <span class="s1">
            const headers = { Authorization: `${token}` };
          </span>
        </code>
      </pre>
    </div>

    <blockquote>
    <p>The above command returns JSON structured like this:</p>
    </blockquote>
    <div class="highlight">
      <pre class="highlight json tab-json">
        <code>
          <span class="s1">
          {
              "status": 200,
              "message_es": "Operación realizada con éxito",
              "message_en": "Operation performed successfully",
              "result": {
                  "_id": "VF",
                  "activo": true,
                  "admin": true,
                  "apellidos": "FRANCO",
                  "email": "victor.franco@sequal.com.co",
                  "mac": "0A-00-27-00-00-0D",
                  "nombres": "VICTOR",
                  "pass": "",
                  "pass_mobile": "",
                  "perfil": "PCALMAN",
                  "revisor": false,
                  "superAdmin": true,
                  "permisos": {
                      "gea": "ADMIN",
                      "git": "ADMIN",
                      "point": "REVISOR",
                      "psp": "REVISOR",
                      "admin": true
                  },
                  "updatedAt": "2022-12-01T01:56:09.993Z"
              }
          }
          </span>
        </code>
      </pre>
    </div>
    <p>Este endpoint permite obtener la info del asociado logueado</p>
    <h3 id='http-request'>HTTP Request</h3>
    <p><code>GET <spam class="ruta"></spam>/usuarios/myinfo</code></p>
  <!-- end -->

  <!-- init -->
    <h1 id='infoUser'>Información de un Asociado</h1>
    <div class="highlight">
      <pre class="highlight javascript tab-javascript">
        <code>
          <span class="s1">
            const headers = { Authorization: `${token}` };
          </span>
        </code>
      </pre>
    </div>

    <blockquote>
    <p>The above command returns JSON structured like this:</p>
    </blockquote>
    <div class="highlight">
      <pre class="highlight json tab-json">
        <code>
          <span class="s1">
          {
              "status": 200,
              "message_es": "Operación realizada con éxito",
              "message_en": "Operation performed successfully",
              "result": {
                  "_id": "LP",
                  "activo": true,
                  "admin": true,
                  "apellidos": "Presiga",
                  "email": "lorena.presiga@sequal.com.co",
                  "mac": "00-09-0F-FE-00-01",
                  "nombres": "Lorena",
                  "pass": "HnoBAwDcIco30TqayNgPNA==",
                  "pass_mobile": "",
                  "perfil": "PCALMAN",
                  "revisor": false,
                  "superAdmin": false,
                  "arl": "sura",
                  "celular": "+573115554422",
                  "cumpleaños": "05/06/1985",
                  "direccion": "calle 53 #28-54, apto 322",
                  "eps": "sura",
                  "estadoCivil": "casado/a",
                  "fecha_ingreso": "25/03/2019",
                  "genero": "Femenino",
                  "numeroDocumento": "123456789",
                  "pension": "colpensiones",
                  "sueldo": "2650800",
                  "tipoDocumento": "CÉDULA DE CIUDADANIA",
                  "updatedAt": "2022-12-01T04:26:15.165Z",
                  "permisos": {
                      "gea": "USER",
                      "git": "USER",
                      "point": "USER",
                      "psp": "REVISOR",
                      "admin": false
                  }
              }
          }
          </span>
        </code>
      </pre>
    </div>
    <p>Este endpoint permite obtener la información de un asociado</p>
    <h3 id='http-request'>HTTP Request</h3>
    <p><code>GET <spam class="ruta"></spam>/usuarios/info?email=lorena.presiga@sequal.com.co&app=gea</code></p>
  <!-- end -->

  <!-- init -->
    <h1 id='printUser'>Obtener PDF de Asociado</h1>
    <div class="highlight">
      <pre class="highlight javascript tab-javascript">
        <code>
          <span class="s1">
            const headers = { Authorization: `${token}` };
          </span>
        </code>
      </pre>
    </div>

    <blockquote>
    <p>The above command returns JSON structured like this:</p>
    </blockquote>
    <div class="highlight">
      <pre class="highlight json tab-json">
        <code>
          <span class="s1">
          {
              "status": 200,
              "message_es": "Operación realizada con éxito",
              "message_en": "Operation performed successfully",
              "result": "usuario1671825298004.pdf"
          }
          </span>
        </code>
      </pre>
    </div>
    <p>Este endpoint permite obtener un documento PDF con la información de un asociado</p>
    <h3 id='http-request'>HTTP Request</h3>
    <p><code>GET <spam class="ruta"></spam>/usuarios/print?email=victor.franco@sequal.com.co&app=gea</code></p>
  <!-- end -->

  <!-- init -->
    <h1 id='statusUser'>Actualizar Estado</h1>
    <div class="highlight">
      <pre class="highlight javascript tab-javascript">
        <code>
          <span class="s1">
            const headers = { Authorization: `${token}` };
            {
                "email":"gloria.patricia.perez@sequal.com.co",
                "app":"gea"
            }            
          </span>
        </code>
      </pre>
    </div>

    <blockquote>
    <p>The above command returns JSON structured like this:</p>
    </blockquote>
    <div class="highlight">
      <pre class="highlight json tab-json">
        <code>
          <span class="s1">
          {
              "status": 200,
              "message_es": "Operación realizada con éxito",
              "message_en": "Operation performed successfully",
              "result": [
                  {
                      "_id": "GP",
                      "activo": true,
                      "admin": true,
                      "apellidos": "PEREZ",
                      "email": "gloria.patricia.perez@sequal.com.co",
                      "mac": "5C-BA-EF-A0-6D-13",
                      "nombres": "GLORIA",
                      "pass": "jbnnXNtOqKw=",
                      "pass_mobile": "U2FsdGVkX1+17ojQkKR8fuhqNDPZYn3cHqTPla14/WA=",
                      "perfil": "PCALMAN",
                      "revisor": true,
                      "superAdmin": true
                  }]
            }
          </span>
        </code>
      </pre>
    </div>
    <p>Este endpoint listar los asociados registrados</p>
    <h3 id='http-request'>HTTP Request</h3>
    <p><code>PUT <spam class="ruta"></spam>/usuarios/status</code></p>
  <!-- end -->

  <!-- init -->
    <h1 id='setPermissions'>Asignar Permisos</h1>
    <div class="highlight">
      <pre class="highlight javascript tab-javascript">
        <code>
          <span class="s1">
            const headers = { Authorization: `${token}` };
            {
                "email":"victor.franco@sequal.com.co",
                "gea":"admin", 
                "git":"admin",
                "gecp":"admin",
                "point":"admin",
                "psp":"admin",
                "admin":true
            }            
          </span>
        </code>
      </pre>
    </div>

    <blockquote>
    <p>The above command returns JSON structured like this:</p>
    </blockquote>
    <div class="highlight">
      <pre class="highlight json tab-json">
        <code>
          <span class="s1">
          {
              "status": 200,
              "message_es": "Operación realizada con éxito",
              "message_en": "Operation performed successfully",
              "result": null
          }
          </span>
        </code>
      </pre>
    </div>
    <p>Este endpoint listar los asociados registrados</p>
    <h3 id='http-request'>HTTP Request</h3>
    <p><code>POST <spam class="ruta"></spam>/usuarios/permisos</code></p>
  <!-- end -->

  <!-- init -->
    <h1 id='updateUser'>Actualizar Asociado</h1>
    <div class="highlight">
      <pre class="highlight javascript tab-javascript">
        <code>
          <span class="s1">
            const headers = { Authorization: `${token}` };
            {
                "email":"lorena.presiga@sequal.com.co",
                "app":"gea", 
                "nombres":"Lorena",
                "apellidos":"Presiga",
                "celular":"+573115554422",
                "genero":"femenino",
                "perfil":"PCALMAN",
                "direccion":"Calle 53 #28-54, apto 322",
                "sueldo":"2.650.800",
                "tipoDocumento":"Cédula de Ciudadania",
                "numeroDocumento":"123456789",
                "estadoCivil":"Casado/a",
                "arl":"Sura",
                "eps":"Sura",
                "pension":"Colpensiones",
                "cesantias":"cesantias",
                "compensacion":"compensacion",    
                "cumpleaños":"05/06/1985",
                "fecha_ingreso":"25/03/2019",
                "horasSemana":"48",
                "horasPotenciales":"48",
                "tarifaHora":"30000",
                "seniority":"Senior",    
                "photo":"imgBase64"
            }            
          </span>
        </code>
      </pre>
    </div>

    <blockquote>
    <p>The above command returns JSON structured like this:</p>
    </blockquote>
    <div class="highlight">
      <pre class="highlight json tab-json">
        <code>
          <span class="s1">
          {
              "status": 200,
              "message_es": "Operación realizada con éxito",
              "message_en": "Operation performed successfully",
              "result": {
                  "_id": "LP",
                  "activo": true,
                  "admin": true,
                  "apellidos": "Presiga",
                  "email": "lorena.presiga@sequal.com.co",
                  "mac": "00-09-0F-FE-00-01",
                  "nombres": "Lorena",
                  "pass": "HnoBAwDcIco30TqayNgPNA==",
                  "pass_mobile": "",
                  "perfil": "PCALMAN",
                  "revisor": false,
                  "superAdmin": false,
                  "arl": "sura",
                  "celular": "+573115554422",
                  "cumpleaños": "05/06/1985",
                  "direccion": "calle 53 #28-54, apto 322",
                  "eps": "sura",
                  "estadoCivil": "casado/a",
                  "fecha_ingreso": "25/03/2019",
                  "genero": "Femenino",
                  "horasSemana": "48",
                  "numeroDocumento": "123456789",
                  "pension": "colpensiones",
                  "sueldo": "2650800",
                  "tipoDocumento": "CÉDULA DE CIUDADANIA",
                  "updatedAt": "2022-12-01T04:20:46.123Z"
              }
          }
          </span>
        </code>
      </pre>
    </div>
    <p>Este endpoint listar los asociados registrados</p>
    <h3 id='http-request'>HTTP Request</h3>
    <p><code>PUT <spam class="ruta"></spam>/usuarios</code></p>
  <!-- end -->

  <!-- init -->
    <h1 id='createUser'>Crear Asociado</h1>
    <div class="highlight">
      <pre class="highlight javascript tab-javascript">
        <code>
          <span class="s1">
            const headers = { Authorization: `${token}` };
            {
                "email":"lorena.presiga@sequal.com.co",
                "app":"gea", 
                "nombres":"Lorena",
                "apellidos":"Presiga",
                "celular":"+573115554422",
                "genero":"femenino",
                "perfil":"PCALMAN",
                "direccion":"Calle 53 #28-54, apto 322",
                "sueldo":"2.650.800",
                "tipoDocumento":"Cédula de Ciudadania",
                "numeroDocumento":"123456789",
                "estadoCivil":"Casado/a",
                "arl":"Sura",
                "eps":"Sura",
                "pension":"Colpensiones",
                "cumpleaños":"05/06/1985",
                "fecha_ingreso":"25/03/2019"
            }            
          </span>
        </code>
      </pre>
    </div>

    <blockquote>
    <p>The above command returns JSON structured like this:</p>
    </blockquote>
    <div class="highlight">
      <pre class="highlight json tab-json">
        <code>
          <span class="s1">
          {
              "status": 200,
              "message_es": "Operación realizada con éxito",
              "message_en": "Operation performed successfully",
              "result": {
                  "_id": "LP",
                  "activo": true,
                  "admin": true,
                  "apellidos": "Presiga",
                  "email": "lorena.presiga@sequal.com.co",
                  "mac": "00-09-0F-FE-00-01",
                  "nombres": "Lorena",
                  "pass": "HnoBAwDcIco30TqayNgPNA==",
                  "pass_mobile": "",
                  "perfil": "PCALMAN",
                  "revisor": false,
                  "superAdmin": false,
                  "arl": "sura",
                  "celular": "+573115554422",
                  "cumpleaños": "05/06/1985",
                  "direccion": "calle 53 #28-54, apto 322",
                  "eps": "sura",
                  "estadoCivil": "casado/a",
                  "fecha_ingreso": "25/03/2019",
                  "genero": "Femenino",
                  "horasSemana": "48",
                  "numeroDocumento": "123456789",
                  "pension": "colpensiones",
                  "sueldo": "2650800",
                  "tipoDocumento": "CÉDULA DE CIUDADANIA",
                  "updatedAt": "2022-12-01T04:20:46.123Z"
              }
          }
          </span>
        </code>
      </pre>
    </div>
    <p>Este endpoint listar los asociados registrados</p>
    <h3 id='http-request'>HTTP Request</h3>
    <p><code>POST <spam class="ruta"></spam>/usuarios</code></p>
  <!-- end -->

  <!-- init -->
    <h1 id='cargarCSV'>Carga CSV</h1>
    <div class="highlight">
      <pre class="highlight javascript tab-javascript">
        <code>
          <span class="s1">
            const headers = { Authorization: `${token}` };
            data.append('app', 'gea');
            data.append('file', fs.createReadStream('/path/to/file'));
            data : data
          </span>
        </code>
      </pre>
    </div>

    <blockquote>
    <p>The above command returns JSON structured like this:</p>
    </blockquote>
    <div class="highlight">
      <pre class="highlight json tab-json">
        <code>
          <span class="s1">
          {
              "status": 200,
              "message_es": "Operación realizada con éxito",
              "message_en": "Operation performed successfully",
              "result": null
          }
          </span>
        </code>
      </pre>
    </div>
    <p>Este endpoint listar los asociados registrados</p>
    <h3 id='http-request'>HTTP Request</h3>
    <p><code>POST <spam class="ruta"></spam>/filecsv</code></p>
  <!-- end -->

  <!-- init -->
    <h1 id='metricasAsociado'>Métricas Asociado</h1>
    <div class="highlight">
      <pre class="highlight javascript tab-javascript">
        <code>
          <span class="s1">
            const headers = { Authorization: `${token}` };
            {
                "app":"gea",
                "fechaIni":"01/01/2023",
                "fechaFin":"07/01/2023",
                "asociados":["victor.franco@sequal.com.co"],//PARAMETROS OPCIONALES
                "proyectos":["proyecto1"]//PARAMETROS OPCIONALES
            }            
          </span>
        </code>
      </pre>
    </div>

    <blockquote>
    <p>The above command returns JSON structured like this:</p>
    </blockquote>
    <div class="highlight">
      <pre class="highlight json tab-json">
        <code>
          <span class="s1">
          {
              "status": 200,
              "message_es": "Operación realizada con éxito",
              "message_en": "Operation performed successfully",
              "result": [
                  {
                      "asociado": "Victor Franco",
                      "email": "victor.franco@sequal.com.co",
                      "planeado": "60",
                      "prooyecto": "DESARROLLO ELECTRON - CALIDAD Y PRUEBAS ELECTRON",
                      "registradas": 24.5,
                      "facturables": 11.166666666666666,
                      "no_facturables": 13.333333333333334
                  }
              ]
          }
          </span>
        </code>
      </pre>
    </div>
    <p>Este endpoint listar los asociados registrados</p>
    <h3 id='http-request'>HTTP Request</h3>
    <p><code>POST <spam class="ruta"></spam>/usuarios/listar?app=gea</code></p>
  <!-- end -->

  <!-- init -->
    <h1 id='listEquipos'>Listar Equipos</h1>
    <div class="highlight">
      <pre class="highlight javascript tab-javascript">
        <code>
          <span class="s1">
            const headers = { Authorization: `${token}` };          
          </span>
        </code>
      </pre>
    </div>

    <blockquote>
    <p>The above command returns JSON structured like this:</p>
    </blockquote>
    <div class="highlight">
      <pre class="highlight json tab-json">
        <code>
          <span class="s1">
          {
              "status": 200,
              "message_es": "Operación realizada con éxito",
              "message_en": "Operation performed successfully",
              "result": [
                  {
                      "_id": "63a5257e9658203761d78b30",
                      "idProveedor": "1234",
                      "idEquipo": "5678",
                      "idProducto": "ASD123",
                      "fechaEntrega": "19/01/2022",
                      "marca": {
                          "_id": "63a127c72579cb3ccb3785f9",
                          "nombre": "ACER",
                          "status": true,
                          "createdAt": "2022-12-20T03:11:03.178Z",
                          "updatedAt": "2022-12-20T17:46:14.423Z"
                      },
                      "modelo": "NO SE",
                      "procesador": "RYZEN 5",
                      "ram": "8 GB",
                      "disco": "512 GB",
                      "sistema": "WINDOWS",
                      "asociado": {
                          "_id": "VF",
                          "activo": true,
                          "admin": true,
                          "apellidos": "FRANCO",
                          "email": "victor.franco@sequal.com.co",
                          "mac": "0A-00-27-00-00-0D",
                          "nombres": "VICTOR",
                          "pass": "",
                          "pass_mobile": "",
                          "perfil": "PCALMAN",
                          "revisor": false,
                          "superAdmin": true,
                          "permisos": {
                              "gea": "ADMIN",
                              "git": "ADMIN",
                              "point": "ADMIN",
                              "psp": "ADMIN",
                              "admin": true
                          },
                          "updatedAt": "2022-12-19T19:07:35.677Z"
                      },
                      "estado": "Habilitado",
                      "createdAt": "2022-12-23T03:50:22.247Z",
                      "updatedAt": "2022-12-23T03:50:22.247Z"
                  }
              ]
          }
          </span>
        </code>
      </pre>
    </div>
    <p>Este endpoint listar los equipos registrados</p>
    <h3 id='http-request'>HTTP Request</h3>
    <p><code>GET <spam class="ruta"></spam>/equipos/listar?app=git</code></p>
  <!-- end -->

  <!-- init -->
    <h1 id='infoEquipo'>Info Equipo</h1>
    <div class="highlight">
      <pre class="highlight javascript tab-javascript">
        <code>
          <span class="s1">
            const headers = { Authorization: `${token}` };          
          </span>
        </code>
      </pre>
    </div>

    <blockquote>
    <p>The above command returns JSON structured like this:</p>
    </blockquote>
    <div class="highlight">
      <pre class="highlight json tab-json">
        <code>
          <span class="s1">
          {
              "status": 200,
              "message_es": "Operación realizada con éxito",
              "message_en": "Operation performed successfully",
              "result": {
                  "_id": "63a5257e9658203761d78b30",
                  "idProveedor": "1234",
                  "idEquipo": "5678",
                  "idProducto": "ASD123",
                  "fechaEntrega": "19/01/2022",
                  "marca": {
                      "_id": "63a127c72579cb3ccb3785f9",
                      "nombre": "ACER",
                      "status": true,
                      "createdAt": "2022-12-20T03:11:03.178Z",
                      "updatedAt": "2022-12-20T17:46:14.423Z"
                  },
                  "modelo": "NO SE",
                  "procesador": "RYZEN 5",
                  "ram": "8 GB",
                  "disco": "512 GB",
                  "sistema": "WINDOWS",
                  "asociado": {
                      "_id": "VF",
                      "activo": true,
                      "admin": true,
                      "apellidos": "FRANCO",
                      "email": "victor.franco@sequal.com.co",
                      "mac": "0A-00-27-00-00-0D",
                      "nombres": "VICTOR",
                      "pass": "",
                      "pass_mobile": "",
                      "perfil": "PCALMAN",
                      "revisor": false,
                      "superAdmin": true,
                      "permisos": {
                          "gea": "ADMIN",
                          "git": "ADMIN",
                          "point": "ADMIN",
                          "psp": "ADMIN",
                          "admin": true
                      },
                      "updatedAt": "2022-12-19T19:07:35.677Z"
                  },
                  "estado": "Habilitado",
                  "createdAt": "2022-12-23T03:50:22.247Z",
                  "updatedAt": "2022-12-23T03:50:22.247Z"
              }
          }
          </span>
        </code>
      </pre>
    </div>
    <p>Este endpoint obtener la información de un equipo</p>
    <h3 id='http-request'>HTTP Request</h3>
    <p><code>GET <spam class="ruta"></spam>/equipos/info?app=git&id=63a5257e9658203761d78b30</code></p>
  <!-- end -->

  <!-- init -->
    <h1 id='createEquipo'>Crear Equipo</h1>
    <div class="highlight">
      <pre class="highlight javascript tab-javascript">
        <code>
          <span class="s1">
            const headers = { Authorization: `${token}` };
            {
                "app":"git", 
                "idProveedor":"1234",
                "idEquipo":"5678",
                "idProducto":"ASD123",
                "fechaEntrega":"19/01/2022",
                "marca":"63a127c72579cb3ccb3785f9",
                "modelo":"NO SE",
                "procesador":"RYZEN 5",
                "ram":"8 GB",
                "disco":"512 GB",
                "sistema":"WINDOWS",
                "asociado":"victor.franco@sequal.com.co",
                "estado":"Habilitado"
            }           
          </span>
        </code>
      </pre>
    </div>

    <blockquote>
    <p>The above command returns JSON structured like this:</p>
    </blockquote>
    <div class="highlight">
      <pre class="highlight json tab-json">
        <code>
          <span class="s1">
          {
              "status": 200,
              "message_es": "Operación realizada con éxito",
              "message_en": "Operation performed successfully",
              "result": {
                  "idProveedor": "1234",
                  "idEquipo": "5678",
                  "idProducto": "ASD123",
                  "fechaEntrega": "19/01/2022",
                  "marca": "63a127c72579cb3ccb3785f9",
                  "modelo": "NO SE",
                  "procesador": "RYZEN 5",
                  "ram": "8 GB",
                  "disco": "512 GB",
                  "sistema": "WINDOWS",
                  "asociado": "victor.franco@sequal.com.co",
                  "estado": "Habilitado",
                  "createdAt": "2022-12-20T03:43:52.443Z",
                  "updatedAt": "2022-12-20T03:43:52.443Z",
                  "_id": "63a12f78ee573048544a8629"
              }
          }
          </span>
        </code>
      </pre>
    </div>
    <p>Este endpoint permite crear nuevos eqipos</p>
    <h3 id='http-request'>HTTP Request</h3>
    <p><code>POST <spam class="ruta"></spam>/equipos</code></p>
  <!-- end -->

  <!-- init -->
    <h1 id='updateEquipo'>Actualizar Equipo</h1>
    <div class="highlight">
      <pre class="highlight javascript tab-javascript">
        <code>
          <span class="s1">
            const headers = { Authorization: `${token}` };
            {
                "app":"git",
                "id":"63a12f78ee573048544a8629",
                "idProveedor":"1234",
                "idEquipo":"5678",
                "idProducto":"ASD123",
                "fechaEntrega":"19/01/2022",
                "marca":"63a127c72579cb3ccb3785f9",
                "modelo":"NO SE",
                "procesador":"RYZEN 5",
                "ram":"8 GB",
                "disco":"512 GB",
                "sistema":"WINDOWS",
                "asociado":"victor.franco@sequal.com.co",
                "estado":"Habilitado",
                "notas":"laksndad alsjkdnlaksd lkansdlakdj",
                "otros":"asdjnaskd asjdhnads alsdkjasd",
                "kit":"lajkshdlaskd lasjkdhalskd"
            }           
          </span>
        </code>
      </pre>
    </div>

    <blockquote>
    <p>The above command returns JSON structured like this:</p>
    </blockquote>
    <div class="highlight">
      <pre class="highlight json tab-json">
        <code>
          <span class="s1">
          {
              "status": 200,
              "message_es": "Operación realizada con éxito",
              "message_en": "Operation performed successfully",
              "result": {
                  "_id": "63a12f78ee573048544a8629",
                  "idProveedor": "1234",
                  "idEquipo": "5678",
                  "idProducto": "ASD123",
                  "fechaEntrega": "19/01/2022",
                  "marca": "63a127c72579cb3ccb3785f9",
                  "modelo": "NO SE",
                  "procesador": "RYZEN 5",
                  "ram": "8 GB",
                  "disco": "512 GB",
                  "sistema": "WINDOWS",
                  "asociado": "victor.franco@sequal.com.co",
                  "estado": "Habilitado",
                  "createdAt": "2022-12-20T03:43:52.443Z",
                  "updatedAt": "2022-12-20T03:49:09.214Z",
                  "kit": "lajkshdlaskd lasjkdhalskd",
                  "notas": "laksndad alsjkdnlaksd lkansdlakdj",
                  "otros": "asdjnaskd asjdhnads alsdkjasd"
              }
          }
          </span>
        </code>
      </pre>
    </div>
    <p>Este endpoint los equipos registrados</p>
    <h3 id='http-request'>HTTP Request</h3>
    <p><code>PUT <spam class="ruta"></spam>/equipos</code></p>
  <!-- end -->

<script>
  $(".ruta").text("http://localhost:1341")
</script>